<?php
/**
 * JeromeD
 *
 * @category    JeromeD
 * @package     JeromeD_Offers
 * @license     http://opensource.org/licenses/gpl-license.php GNU Public License
 * @author      Jérôme Deguehegny <j.deguehegny@gmail.com>
 */

/**
 * @var $block JeromeD\Offers\Block\Banner\View
 */
?>
<?php $bannerCollection = $block->getBannerCollection(); ?>
<?php if ($bannerCollection && $bannerCollection->count()): ?>
<section id="jeromedOffers" class="slider">
    <?php foreach($bannerCollection->getItems() as $banner): ?>
    <div class="banner">
        <a href="<?php echo $banner->getLink(); ?>">
            <p class="more"><?php echo __('Know more about'); ?></p>
            <img src="<?php echo $block->getHelperImage()->getImageUrl($banner->getImage()); ?>" />
            <?php echo $banner->getLabel(); ?>
        </a>
    </div>
    <?php endforeach; ?>
</section>
<script>
    require(['jquery', 'jeromed/offers/slick'], function ($) {
        $('#jeromedOffers').slick({
            infinite: true,
            draggable: false,
            slidesToShow: 1,
            autoplay: true,
            autoplaySpeed: 5000
        });
    });
</script>
<?php endif; ?>
