#jeromedOffers{
    display: block;
    width:100%;
    margin: 0 0 -10px 0;
    top: -25px
}
.banner{
    width:100%;
    max-height:100px;
    overflow:hidden;
    padding:10px 50px;
    background: linear-gradient(180deg, rgba(218,218,218,1) 0%, rgba(255,255,255,1) 30%);
    height: 50px;
    margin:0;
    border-bottom:1px solid #eee;
}
.banner p{display: inline;margin:0;}
.banner a{
    text-decoration:none;
    color:#000;
    float: left;
    display: inline;
    font-weight: bold;
    width: 100%;
}
.banner a:hover{text-decoration:none;color:#000;}
.banner .more{
    border: 1px solid #CCC;
    padding: 8px;
    margin: 10px 0 0 50px;
    width: auto;
    height: auto;
    display: inline-block;
    float:right;
    font-size: 0.9em;
    font-weight:normal;
}
.banner img{
    height: 50px;
    max-width: 50px;
    overflow: hidden;
    float: left;
    margin: 0 50px;
}

.slick-prev:before,
.slick-next:before {
    color: #CCC;
}

.slick-arrow{z-index:10;top:50%;}
.slick-prev{left:10px;}
.slick-next{right:10px;}
